<div class="hero-section">
    <div class="overlay">
      <div class="container text-center">
        <h1 class="hero-title">Discover the Best Restaurants Near You!</h1>
        <p class="hero-subtitle">Find the perfect place to eat, based on reviews and ratings.</p>
  
        <!-- Search Bar -->
        <!-- <div class="search-bar">
          <input 
            type="text" 
            class="form-control" 
            placeholder="Search restaurants, cuisines, locations..." 
            [(ngModel)]="searchQuery"
          />
          <button class="btn btn-primary" (click)="search()">Search</button>
        </div> -->
        <button class="btn btn-primary" routerLink="/viewrestaurants" >Take Me to Restaurants</button>

      </div>
    </div>
  </div>
  